@charset "UTF-8";

body.index {
    width: 1420px;
    height: 2728px;
    margin: 0 auto;
    text-align: center;
    font-family: Hiragino Kaku Gothic Pro;
}

body.about {
    width: 1420px;
    height: 2200px;
    margin: 0 auto;
    text-align: center;
    font-family: Hiragino Kaku Gothic Pro;
}

.header {
    display: flex;
    justify-content: space-between;
    line-height: 8;
    padding: 0 50px;
}

h1 {
    font-size: 22px;
    font-family: Futura;
    font-weight: 700;
}

a {
    color:black;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    line-height: 14;
    font-size: 11px;

}

ul li a {
    line-height: 14;
    text-decoration: none;
    color: black;
    padding: 0 15px;
}

.contents1 {
    margin: 0 auto;
    width: 100%;
}

.subtitle1 {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 36;
    letter-spacing: 1px;
}

.subtitle2 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 1.68px;
    padding-bottom: 100px;
}

.menu1 {
    margin-top: 150px;
    padding: 15px;
    text-align: center;
    font-weight: 700;
    font-family: Futura;
    font-size: 24px;
    letter-spacing: 1px;
}

.about1, .about2{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.about1 img {
    width: 350px;
    height: 320px;
    object-fit: cover;
    padding: 50px;
}

.about2 img {
    width: 350px;
    height: 320px;
    object-fit: cover;
    padding-top: 50px;
}

.about-text1, .about-text2 {
    padding: 40px;
    font-weight: 400;
    text-align: left;
}

.service1, .vision {
    display: inline-block;
    text-align: center;
}
.service-text1, .vision-text {
    padding: 40px;
    font-weight: 400;
    text-align: left;
}

table {
    margin: 0 auto;
}
.news1 {
    margin-bottom: 100px;
}

th, td {
    padding: 1em;
    font-size: 16px;
}

.time1, {
    font-weight: 400;
    font-family: Noto Sans;
}

.table-text1 {
    width: 310px;
    text-align: left;
}

.box1 {
    display: flex;
    justify-content: center;
}

.menu2 {
    font-family: Futura;
    font-size: 32px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.8799999952316284px;
}

.contact1, .recruit1{
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 10;
    letter-spacing: 0.05em;
    padding: 150px;
}

table.company {
    margin-top: 200px;
}

td.menu3, td.table-text2 {
    border: 1px solid;
}
.menu3 {
    width: 100px;
    text-align: left;
}

h3 {
    font-weight: 600;
}

.table-text2 {
    width: 500px;
    text-align: left;
}